<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_DIR" value="./logs"/>
        <Property name="SPLIT_SIZE" value="100MB"/>
        <!--https://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout-->
        <Property name="LOG_PATTERN" value="%d %level %pid [%t] %logger:%L : %msg%n%throwable"/>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="DebugLog" fileName="${LOG_DIR}/test.log"
                     filePattern="${LOG_DIR}/test-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <!--interval 属性用来指定多久滚动一次，默认是 1， 单位到底是月 天 小时 分钟，根据 filePattern 配置的日期格式而定，本处的格式为天，则默认为 1 天-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!--按大小分-->
                <SizeBasedTriggeringPolicy size="${SPLIT_SIZE}"/>
            </Policies>
            <Filters>
                <!--记录指定级别及以上日志-->
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
                <!--只记录指定级别日志 -->
                <!--<LevelMatchFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>-->
            </Filters>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.example" level="debug"/>
        <!-- 级别从高到低为: OFF>FATAL>ERROR>WARN>INFO>DEBUG>TRACE>ALL(参看 org.apache.logging.log4j.spi.StandardLevel)-->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DebugLog"/>
        </Root>
    </Loggers>
</Configuration>